// Styling Without Boot strap Starts
// .container {
//   display: flex;
//   border-radius: 30px;
//   padding: 37px 10px 10px 10px;
//   box-sizing: border-box;
//   min-height: 100vh;
//   background-color: #f1f5f8;
//   padding-bottom: 2.5rem;
//   margin: 10px;
//   box-sizing: border-box;
// }

// .left-pannel {
//   padding: 10px 10px 10px 10px;
//   box-sizing: border-box;
// }

// .right-pannel {
//   padding: 10px 10px 10px 10px;
//   box-sizing: border-box;
//   flex-wrap: wrap;
// }
// Styling Without Boot strap ENds
.box-style {
  background-color: #f1f5f8;
  padding-bottom: 2.5rem;
  border-radius: 30px;
  margin: 10px;
  max-width: 100%;
}
